@model LifeInsuranceWeb.Models.CalculateModel
@{
    ViewBag.Title = "Calculate";
}
<div class="col-sm-12">
    <h2>Calculate</h2>
</div>

@using (Html.BeginForm("Calculate", "Home")) 
{
    <div class="row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.Age)
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Age, new { @type = "date" })
            @Html.ValidationMessageFor(m => m.Age)
        </div>

    </div>
    
    <div class="row">
        <div class="col-sm-12">
                @Html.LabelFor(m => m.Gender, "Male", new { @for = "Male"})
                @Html.RadioButtonFor(m => m.Gender, "M", new { id = "Male"})
        
                @Html.LabelFor(m => m.Gender, "Female", new { @for = "Female" })
                @Html.RadioButtonFor(m => m.Gender, "F", new { id = "Female" })
        
                @Html.ValidationMessageFor(m => m.Gender)
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.Country)
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Country)
            @Html.ValidationMessageFor(m => m.Country)
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            @Html.LabelFor(m => m.Smoker)
            @Html.LabelFor(m => m.Smoker, "Yes", new { @for = "SmokerYes" })
            @Html.RadioButtonFor(m => m.Smoker, "Y", new { id = "SmokerYes" })

            @Html.LabelFor(m => m.Smoker, "No", new { @for = "SmokerNo" })
            @Html.RadioButtonFor(m => m.Smoker, "N", new { id = "SmokerNo" })

            @Html.ValidationMessageFor(m => m.Smoker)
        </div>
    </div>
    
    <div class = "row">
        <div class="col-sm-2">
            @Html.LabelFor(m => m.HoursOfExercise)
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.HoursOfExercise)
            @Html.ValidationMessageFor(m => m.HoursOfExercise)
        </div>
    </div>
   
    
    <div class="row">
        <div class="col-sm-12">
            @Html.LabelFor(m => m.Children)
            @Html.LabelFor(m => m.Children, "Yes", new { @for = "ChildYes" })
            @Html.RadioButtonFor(m => m.Children, "Y", new { id = "ChildYes" })

            @Html.LabelFor(m => m.Children, "No", new { @for = "ChildNo" })
            @Html.RadioButtonFor(m => m.Children, "N", new { id = "ChildNo" })

            @Html.ValidationMessageFor(m => m.Children)
        </div>
    </div>
    

    <div class="row">
        <div class="col-sm-12">
            <input type="submit" value="Calculate" class="btn btn-default" />
        </div>
    </div>
    
    <div>
        @if (Model != null)
        {
            <p><b>Your quote is: £ @Model.TotalPremium</b></p>
        }
    </div>
}